/src/NetCoreAPI/bin
/src/Bussiness/bin
/src/Entity/bin
/src/IService/bin
/src/Common/bin
/src/Service/bin
/src/NetCoreAPI/obj
/src/Bussiness/obj
/src/Entity/obj
/src/IService/obj
/src/Common/obj
/src/Service/obj
/src/Authorization/obj
/src/Authorization/bin
/src/Authorization/obj
/src/Log/obj
/src/Log/bin
/src/SqlSugar/bin
/src/SqlSugar/obj
/src/WeChat/bin
/src/WeChat/obj