/NetCoreAPI/bin
/Bussiness/bin
/Entity/bin
/IService/bin
/Common/bin
/Service/bin
/NetCoreAPI/obj
/Bussiness/obj
/Entity/obj
/IService/obj
/Common/obj
/Service/obj
/Authorization/obj
/Authorization/bin
/Authorization/obj
/Log/obj
/Log/bin
/SqlSugar/bin
/SqlSugar/obj